body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#outer {
    width: 600px;
    margin: 0 auto;    
}


.wijn {
    cursor: pointer;
    padding: 5px;
}

.wijn .naam {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.wijn .druif {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    color: #777;
}

.wijn .land {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.wijn.wit {
    background-color: #FFEDC6;
}

.wijn.rood {
    background-color: #BF8F89;
}

.wijn.rosé {
    background-color: #FFD0CA;
}

.wijn.selected {
    font-weight: bold;
}

.wijn.selected .streek {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
}
